
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<ul class="breadcrumb">
    <li><a asp-controller="Home">Home</a> <span class="divider">/</span></li>
    <li class="active"> Thanks</li>
</ul>
<h3> Thanks for buying products.</h3>



<a asp-controller="Home" asp-action="index" class="btn btn-large"><i class="icon-arrow-left"></i> Continue Shopping </a>
<a asp-controller="Home" asp-action="index" class="btn btn-large pull-right">Next <i class="icon-arrow-right"></i></a>