<span class="btn btn-mini">$@ViewBag.Total</span>
<a ><span class="">$</span></a>
<a asp-controller="cart"><span class="btn btn-mini btn-primary"><i class="icon-shopping-cart icon-white"></i> [ @ViewBag.CountItems ] Itemes in your cart </span> </a>

