<a id="myCart" asp-controller="cart">
    <img src="~/user/themes/images/ico-cart.png" alt="cart">@ViewBag.CountItems Items in your cart
    <span class="badge badge-warning pull-right">$@ViewBag.Total</span>
</a>
                    