
<ul id="sideManu" class="nav nav-tabs nav-stacked">
    @foreach (var category in Model)
    {
        <li class="subMenu">
            <a>  @category.Name </a>
            @if (category.InverseParents != null && category.InverseParents.Count > 0)
            {
                <ul style="display:none">
                    @foreach (var subcategory in category.InverseParents)
                    {
                        @if (subcategory.Status)
                        {
                            <li><a asp-controller="product" asp-action="category"
                   asp-route-id="@subcategory.Id"><i class="icon-chevron-right"></i>@subcategory.Name</a></li>
                        }
                    }
                </ul>
            }
        </li>
    }
</ul>

