
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="span9">
    <ul class="breadcrumb">
        <li><a  asp-controller="home" asp-action="index">Home</a> <span class="divider">/</span></li>
        <li class="active">Dashboard</li>
    </ul>
    <h3>Customer Dashboard</h3>
    

</div>
