
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@model Account
<div class="span9">
    <ul class="breadcrumb">
        <li><a  asp-controller="home" asp-action="index">Home</a> <span class="divider">/</span></li>
        <li class="active">Dashboard</li>
    </ul>
    <h3>Customer Dashboard</h3>
    <div class="well">

        <h4>
            <a asp-controller="customer" asp-action="profile">Change Profile</a>
        </h4>
        <hr class="soften" />
        <h4>
            <a asp-controller="customer" asp-action="history">Invoice Management</a>
        </h4>
        <hr class="soften" />
        <h4>
            <a asp-controller="customer" asp-action="signout">Log Out</a>
        </h4>
        <hr class="soften" />
    </div>

</div>
